@import url('../fonts/Lato.css');
@import url('../fonts/SourceSansPro.css');

:root {
    --fg-color: #000;
    --bg-color: #fff;
    --input-color: #756f6f;
    --spinner-bg-color: #111;
    --search-bg-color: #f2f2f2;
    --balloon-text-color: #fff;
    --video-info-color: #393939;
    --menu-hover-color: #e3e3e3;
    --responsive-color: #353535;
    --placeholder-color: #717171;
    --modal-bg-color: rgba(0, 0, 0, .75);
    --balloon-color: rgba(16, 16, 16, .95);
    --fringes-color: rgba(249, 249, 249, .95);
    --menu-bg-color: rgba(255, 255, 255, .97);
}

[data-colourMode="dark"] {
    --bg-color: #000;
    --fg-color: #ebebeb;
    --input-color: #8a9090;
    
    --spinner-bg-color: #eee;
    --search-bg-color: #323232;
    --balloon-text-color: #000;
    --video-info-color: #c6c6c6;
    --menu-hover-color: #4e4e4e;
    --responsive-color: #cacaca;
    --placeholder-color: #8e8e8e;
    --menu-bg-color: rgba(0, 0, 0, .97);
    --fringes-color: rgba(6, 6, 6, 0.95);
    --modal-bg-color: rgba(88, 88, 88, .75);
    --balloon-color: rgba(239, 239, 239, .95);
}

body {
    margin: 0;
    color: var(--fg-color);
    font-family: 'Source Sans Pro', sans-serif;
}

body:not(.tab-key-used) :focus {
    outline: none;
}

#add-source-modal p {
    font-size: 21px;
}

#add-source-modal input[type=text] {
    width: 90%;
    border: none;
    font-size: 17px;
    color: var(--fg-color);
    background: transparent;
    transition: .3s ease-in-out;
    border-bottom: 2px solid var(--input-color);
}

#add-source-modal input[type=text]:focus {
    border-bottom: 2px solid var(--fg-color);
}

.custom-button {
    font-size: 17px;
    cursor: pointer;
    color: var(--fg-color);
    background: transparent;
    padding: 5px 20px 5px 20px;
    transition: .3s ease-in-out;
    border: 2px solid var(--fg-color);
}

.custom-button:hover {
    color: var(--bg-color);
    background: var(--fg-color);
}

#message-container {
    font-size: 18px;
    margin: 7px auto 7px auto;
    white-space: break-spaces;
}

#query-container {
    font-size: 18px;
    margin-bottom: 10px;
    white-space: break-spaces;
}

#confirmation-modal hr {
    height: 1px;
    border: none;
    background: var(--fg-color);
}

#confirmation-modal button {
    float: right;
    margin-top: 5px;
}

#confirmation-modal button:last-of-type {
    margin-right: 20px;
}

.sidebar {
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    position: fixed;
    background: var(--fringes-color);
}

.icon-wrapper {
    margin: 0;
    height: 100%;
    padding: 7px;
    list-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
    overflow: hidden scroll;
}

.responsive-icon {
    --top-offset: 0px;
    margin-bottom: 5px;
}

.responsive-icon img {
    width: 50px;
    height: 50px;
    display: block;
    transition: .3s;
    cursor: pointer;
    border-radius: 50%;
}

.responsive-icon img:hover {
    border-radius: 15px;
}

.responsive-icon::before {
    left: 100%;
    display: none;
    font-size: 15px;
    margin-left: 5px;
    padding: 6px 10px;
    width: max-content;
    border-radius: 4px;
    position: absolute;
    text-align: center;
    top: var(--top-offset);
    color: var(--bg-color);
    content: attr(data-tooltip);
    transform: translateY(-50%);
    background: var(--responsive-color);
}

.responsive-icon::after {
    left: 100%;
    content: "";
    display: none;
    margin-left: -5px;
    position: absolute;
    top: var(--top-offset);
    transform: translateY(-50%);
     border: 5px solid var(--responsive-color);
    border-color: transparent var(--responsive-color) transparent transparent;
}

.responsive-icon:hover::before, .responsive-icon:hover::after {
    display: block;
}

.page {
    margin-left: 64px;
}

.header {
    top: 0;
    z-index: 2;
    padding: 10px;
    font-size: 25px;
    position: sticky;
    color: var(--responsive-color);
    font-family: 'Lato', sans-serif;
    background: var(--fringes-color);
}

.search-bar {
    display: inline-block;
}

.search-icon {
    left: 75%;
    z-index: 1;
    bottom: 3px;
    cursor: text;
    position: relative;
    font-size: 18px !important;
    color: var(--placeholder-color);
}

.search-bar input {
    border: none;
    font-size: 19px;
    position: absolute;
    border-radius: 15px;
    color: var(--fg-color);
    padding: 4px 27px 4px 29px;
    font-family: 'Lato', sans-serif;
    background: var(--search-bg-color);
}

.search-bar input::placeholder {
    opacity: 1;
    color: var(--placeholder-color);
}

.search-bar input:focus {
    background: var(--menu-hover-color);
}

.clear-icon {
    z-index: 1;
    left: 670%;
    bottom: 3px;
    cursor: default;
    position: relative;
    visibility: hidden;
    font-size: 18px !important;
}

.clear-icon:hover::before {
    color: var(--fg-color);
}

.search-bar input:not(:placeholder-shown) + .clear-icon {
    visibility: visible;
    color: var(--placeholder-color);
}

.search-bar:focus-within .search-icon {
    color: var(--fg-color);
}

#clear-filter {
    display: none;
}

.filter, #clear-filter {
    float: right;
    position: relative;
    margin: -6px 0 0 15px;
}

.filter:hover .menu, #clear-filter:hover button {
    background: var(--menu-hover-color);
}

.filter:hover .menu-content {
    display: block;
}

.menu, #clear-filter button {
    border: none;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 3px;
    color: var(--fg-color);
    background: var(--search-bg-color);
    font-family: 'Source Sans Pro', sans-serif;
}

.menu-content {
    right: 0;
    display: none;
    font-size: 22px;
    min-width: 200px;
    border-radius: 2px;
    position: absolute;
    background: var(--menu-bg-color);
    font-family: 'Source Sans Pro', sans-serif;
}

.menu-content a {
    display: block;
    padding: 12px 15px;
    text-decoration: none;
    color: var(--fg-color);
}

.menu-content a:hover {
    background: var(--menu-hover-color);
}

.source-action {
    float: right;
    cursor: pointer;
}

.source-action a {
    text-decoration: none;
    color: var(--fg-color);
}

.source-action i {
    border-radius: 50%;
    padding: 4px 6px 4px 6px;
}

.source-action svg {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    fill: var(--fg-color);
    padding: 4px 6px 4px 6px;
}

.source-action:hover i, .source-action:hover svg {
    background: var(--menu-hover-color);
}

#current-source {
    display: none;
}

.content {
    min-height: calc(100vh - 50px);
    background: var(--search-bg-color);
}

.empty-state {
    margin: auto;
    display: block;
    text-align: center;
    padding-top: calc(50vh - 100px);
    padding-bottom: calc(50vh - 100px);
}

.empty-state span {
    margin-top: 5px !important;
}

.empty-state img, .empty-state span {
    margin: auto;
    display: block;
}

.source-content {
    padding: 0 10px 6px 10px;
}

.source-name {
    font-size: 25px;
    padding-top: 5px;
    margin-bottom: -7px;
    font-family: 'Source Sans Pro', sans-serif;
}

.source-name a {
    display: inline;
    text-decoration: none;
    color: var(--fg-color);
}

.source-name img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-bottom: -5px;
}

.video-grid {
    display: grid;
    grid-gap: 16px 16px;
    justify-content: start;
    grid-template-columns: auto auto auto auto auto;
}

.video-container {
    max-width: 240px;
    text-decoration: none;
    color: var(--fg-color);
}

.video-thumbnail {
    width: 240px;
    height: 130px;
    position: relative;
}

.video-thumbnail img {
    width: 240px;
    height: 130px;
}

.video-duration {
    right: 0;
    bottom: 0;
    color: #fff;
    margin: 5px;
    font-size: 14px;
    line-height: 9px;
    position: absolute;
    border-radius: 2px;
    letter-spacing: 1px;
    padding: 3px 2px 5px 3px;
    background: rgba(0, 0, 0, .9);
    box-shadow: 0px 0px 15px -5px #fff;
}

.video-title {
    overflow: hidden;
    margin: 3px 0 4px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.video-info span {
    display: block;
    color: var(--video-info-color);
}